#contact h1 {
  font-size: 120%;
  padding-bottom: 3vh;
  border-bottom: 1px lightgrey solid;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 3%;
  align-self: center;
}

.contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 7%;
}

.contact-label {
  display: none;
}

#message {
  padding-bottom: 8%;
}

.contact-input {
  padding: 2% 3%;
  width: 100%;
  border: none;
  border-bottom: 1px purple solid;
}

.contact-input:focus {
  outline: none;
  border: none;
  border-bottom: 1px purple solid;
}

.contact-button {
  background: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px purple solid;
  padding: 30% 50%;
  text-align: center;
  transition: ease-in 0.3s;
}

/* .contact-button:hover {
  background: linear-gradient(60deg, #e73c7e, #23a6d5, #23d5ab);
  color: white;
} */
