* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contact h1 {
  font-size: 120%;
  padding-bottom: 3vh;
  border-bottom: 1px lightgrey solid;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5%;
  padding: 3%;
}

.contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 3%;
}

.contact-label {
  font-weight: bold;
  margin-right: 2%;
  background: linear-gradient(to right, #906ba5 0%, #323232 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#message-label {
  display: none;
}

#message {
  padding: 5% 3%;
}

.contact-input {
  padding: 2% 3%;
  width: 100%;
  border-radius: 10px;
}

.contact-button {
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border-color: 1px #323232 solid;
  padding: 30% 50%;
  text-align: center;
}

.contact-button:hover {
  border-color: 2px lightgrey solid;
  background-color: #906ba5;
  color: white;
  transition: 0.3s ease-in;
}
