* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  flex-direction: row;
  height: 70%;
}

.nav-container {
  margin-right: 10px;
  position: relative;
  z-index: 100;
}

#navbar {
  margin-top: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.navbar-blocks {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1vw 0.4vw;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: white;
  color: #323232;
  border: none;
  border-bottom: 1px lightgrey solid;
  justify-content: center;
  align-items: center;
}

.nav-container i {
  margin-bottom: 7px;
}

.navbar-blocks:hover {
  color: #906ba5;
  text-decoration: none;
  transition: 0.3s ease-in;
}

.landing {
  width: 480px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: -10px -10px 20px #906ba5;
  box-shadow: -10px -10px 20px #906ba5;
  position: relative;
  z-index: 100;
}

.landing img {
  object-fit: cover;
  width: 100%;
}

/* .landing img::before {
  z-index: 3;
}

.landing img::after {
  z-index: 3;
} */

.landing-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.landing-details h1 {
  font-size: 2vw;
  font-weight: lighter;
  color: #323232;
  text-align: center;
}

.landing-details h4 {
  text-align: center;
  margin-top: 10px;
  font-weight: lighter;
  font-size: 105%;
  color: #906ba5;
}

.landing-icons {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  font-size: 250%;
  padding: 10%;
  letter-spacing: 25px;
}

.github {
  color: #323232;
}

.github:hover {
  color: #906ba5;
  transition: 0.3s ease-in;
}

.linkedin {
  color: #323232;
}

.linkedin:hover {
  color: #906ba5;
  transition: 0.3s ease-in;
}

.tab-container {
  width: 37vw;
  height: 68vh;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
}

.content {
  /* display: none; */
  position: absolute;
  left: -100%;
  opacity: 0;
  width: 100%;
  overflow: hidden;
  transition: all 0.2s linear;
  background: rgba(255, 255, 255, 0.3);
  height: 100%;
  padding: 30px;
}

.content.active {
  /* display: flex; */
  overflow-y: auto;
  left: 0;
  opacity: 1;
}

@media screen and (max-width: 1520px) {
  .landing {
    height: 90vh;
  }

  .landing-details {
    height: 35vh;
  }

  .landing-icons {
    padding: 0;
  }
}

@media screen and (max-width: 1400px) {
  .landing {
    width: 33vw;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    padding-top: 100px;
  }

  .nav-container {
    width: 100%;
    margin-right: 0;
    position: fixed;
    top: 0;
    z-index: 300;
  }

  #navbar {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0;
  }

  #navbar ul {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  #navbar li {
    width: 20%;
    border-right: 1px lightgrey solid;
  }

  .navbar-blocks {
    padding: 20px 15px;
  }

  .landing {
    height: auto;
    width: 100%;
  }

  .landing-details {
    justify-content: space-evenly;
    padding-top: 0;
  }

  .tab-container {
    width: 100%;
  }
}
